*{
	border: none;
	font-family: 'Play', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: top left;
	outline: none;
    -webkit-appearance: none;
}

td, div, input {
	word-wrap:break-word;
}

form {
	width: 100%;
}

table {
	position:relative;
	width:100%;
	height:100%;
	border-collapse: collapse;
	background: none;
}

button {
	text-align: center;
	vertical-align: middle;
}

.message-table {
	table-layout: fixed;
}

#text-title-div {
	position: absolute;
	width: 724px;
	height: 101px;
	left: 50%;
	top: 175px;
	margin-left: -362px;
}

#players-time-div, #github-div {
	position: fixed;
	bottom: 14px;
	height: 70px;
}

#players-time-div {
	left: 14px;
	width: 140px;
}

#github-div {
	right: 14px;
	width: 70px;
	cursor: pointer;
}

#lobby-title-div {
	position: absolute;
	top: -40px;
	width: 215px;
	height: 30px;
	left: 50%;
	margin-left: -143px;
}

#text-tagline-div {
	font-style: normal;
	font-size: 15pt;
	top: 225px;
}

#login-div {
	opacity: 0.0;
}

#logout-button {
	position: relative;
	left: 94%;
	top: -60px;
	color: rgb(72, 159, 129);
	background: rgba(0,0,0,0);
}

#logout-button:hover {
	color: rgb(97, 203, 213);
}

#create-game-button {
	position: relative;
	float: left;
	left: 18px;
	top: 39px;
	width: 361px;
	height: 48px;
	padding: 5px;
	font-weight: 400;
	font-size: 18px;
	color: white;
}

#create-game-button:hover {
	background-position: -361px 0;
}

#resume-game-button {
	position: relative;
	float: left;
	left: 18px;
	top: 48px;
	width: 361px;
	height: 35px;
	font-weight: 400;
	font-size: 14px;
	color: white;
}

#resume-game-button:hover {
	background-position: -361px 0;
}

#main-div {
	position: fixed;
	top: 450px;
	left: 50%;
	width: 1000px;
	height: 700px;
	margin-left: -500px;
	margin-top: -400px;
}

#lobby-div {
	position: fixed;
	opacity: 0.0;
	top: 425px;
	left: 50%;
	width: 989px;
	height: 698px;
	margin-left: -494px;
	margin-top: -400px;
}

#staging-div {
	position: fixed;
	opacity: 0.0;
	top: 350px;
	left: 50%;
	width: 501px;
	height: 599px;
	margin-left: -250px;
	margin-top: -300px;
}

#screen-div {
	position: fixed;
	opacity: 0.0;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0px;
}

#screen-div {
	background: rgba(0, 0, 0, .8);
}

#messages-div, #users-scroll, #games-list-div, #staging-inner-div, #staging-messages-div {
	position: relative;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

#staging-inner-div {
	margin: 10px;
	height: 580px;
	width: 480px;
}

#users-wrapper-div, #messages-wrapper-div, #games-wrapper-div {
	position: relative;
	float: left;
	height: 700px;
}

#users-wrapper-div {
	width: 237px;
}

#messages-wrapper-div {
	left: 10px;
	width: 336px;
}

#games-wrapper-div {
	left: 20px;
	width: 395px;
}

#games-list-div {
	float: left;
	left: 18px;
	top: 60px;
	width: 358px;
	height: 530px;
}

.game-button {
	position: relative;
	top: -15px;
	left: -3px;
	margin-top: 5px;
	height: 100px;
	width: 347px;
	font-size: 16px;
	color: white;
}

.game-button:hover {
	background-position: -347px 0;
}

#staging-playernum-div {
	position: absolute;
	top: 143px;
	right: 5px;
	width: 90px;
	height: 37px;
}

#staging-pointnum-div {
	top: 182px;
	position: absolute;
	right: 5px;
	width: 98px;
	height: 37px;
}

.staging-playernum-button {
	float: right;
	width: 28px;
	height: 33px;
	margin-left: 1px;
	font-size: 16px;
	color: white;
}

.staging-playernum-button:hover {
	background-position: -28px 0;
}

.staging-playernum-selected {
	background-position: -56px 0;
}

.staging-playernum-selected:hover {
	background-position: -56px 0;
}

.staging-pointnum-button, .staging-pointnum-selected {
	float: right;
	width: 31px;
	height: 33px;
	margin-left: 1px;
	font-size: 16px;
	color: white;
}

.staging-pointnum-button:hover {
	background-position: -31px 0;
}

.staging-pointnum-selected {
	background-position: -62px 0;
}

#staging-leave-button {
	position: absolute;
	right: 2px;
	width: 158px;
	height: 65px;
	bottom: 9px;
	font-size: 15pt;
	font-weight: 700;
	color: white;
}

#staging-leave-button:hover {
	background-position: -158px 0;
}

#staging-ready-button {
	position: absolute;
	right: 2px;
	width: 158px;
	height: 281px;
	bottom: 80px;
	font-size: 18pt;
	font-weight: 700;
	color: black;
}

#staging-ready-button:hover {
	background-position: -158px 0;
}

#messages-div {
	width: 301px;
	height: 533px;
	left: 18px;
	top: 38px;
}

#chat-input {
	position: relative;
	float: left;
	width: 301px;
	height: 58px;
	left: 18px;
	top: 46px;
	padding: 5px;
	overflow-y: scroll;
	color: black;
	background: none;
}

.send-message-button {
	position: relative;
	width: 305px;
	height: 35px;
	color: white;
}

.send-message-button:hover {
	background-position: -305px 0;
}

#send-message-lobby {
	top: 54px;
	left: 16px;
}

#send-message-staging {
	top: 39px;
	left: -4px;
}

#staging-messages-div {
	top: 20px;
	left: -4px;
	width: 302px;
	height: 427px;
	background: none;
}

#staging-users-div {
	position: absolute;
	right: 5px;
	top: 30px;
	width: 154px;
	height: 103px;
	padding: 10px;
	background: none;
}

.msg-server-td, .msg-self-td, .msg-user-td, .msg-content-td, .msg-action-td {
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
}

.msg-server-td {
	text-align: center;
	color: rgb(150,150,150);
}

.msg-self-td, .msg-user-td {
	text-align: right;
	width: 35%;
}

.msg-content-td, .msg-user-td {
	color: rgb(131, 203, 180);
}

.msg-self-content-td, .msg-self-td {
	vertical-align: top;
	color: white;
}

.msg-content-td {
	vertical-align: top;
	width: 65%;
}

.user-list-div, .self-list-div, .staging-user-list-div, .staging-user-ready-list-div {
	overflow: hidden;
	height: 22px;
	border-radius: 0px;
	font-weight: bold;
}

.staging-user-list-div, .staging-user-ready-list-div {
	width: 130px;
}

.staging-user-list-div {
	color: rgb(131, 203, 180); 
}

.staging-user-ready-list-div {
	color: #a2e482;
}

.user-list-div {
	width: 200px;
	color: rgb(131, 203, 180); 
}

.self-list-div {
	color: white;
}

#users-scroll {
	float: left;
	height: 638px;
	width: 200px;
	left: 20px;
	top: 38px;
}

#staging-chat-input {
	position: relative;
	padding: 5px;
	float: left;
	width: 302px;
	height: 60px;
	top: 31px;
	left: -4px;
	overflow-y: scroll;
	background: none;
	color: black;
}

#chat-input:hover, #staging-chat-input:hover{
	background: rgba(255,255,255,0.5);
}

#input-username {
	position: relative;
	width: 220px;
	height: 38px;
	top: 38px;
	left: 38px;
	padding: 5px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	background: none;
}

#input-username-div {
	position: absolute;
	top: 270px;
	height: 106px;
	width: 296px;
	left: 50%;
	margin-left: -148px;
}

#copyright {
	position: fixed; bottom: 10px;
	display: block;
	font-size: 9pt;
	/*color: rgba(161, 233, 210, .8);*/
	color: white;
	text-align: center;
	width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background: none;
    pointer-events: auto;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(131, 203, 180, 0.6);  
}

::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(131, 203, 180,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(131, 203, 180,0.4); 
}