#game-canvas-div {
	float: left;
	position: fixed;
	height: 100%;
	width: 100%;
}

#gameCanvas {
	width: 100%;
	height: 100%;
	position:fixed;
	top:0;
	left:0;
}

#your-turn-div, #confirm-action-div, #include-smuggler-div {
	opacity: 0;
	position: fixed;
	left: 50%;
	width: 800px;
	margin-left: -400px;
}

#confirm-action-div, #include-smuggler-div {
	top: 38%;
}

#your-turn-div {
	top: 28%;
	pointer-events: none;
}

#pending-action-div, #your-turn-message-div, #your-action-message-div, #include-smuggler-message-div {
	display: table;
	position: relative;
	margin: 0 auto;
	padding: 10px;
	color: white;
	text-align: center;
}

#your-turn-message-div, #your-action-message-div, #include-smuggler-message-div {
	background: rgba(0, 0, 0, .3);
}

#turn-done-button:hover {
	background: rgba(100, 100, 100, .3);
}

#your-turn-message-div {
	font-size: 40px;
}

#pending-action-div {
	top: 50px;
	font-size: 15px;
}

#your-action-message-div, #include-smuggler-message-div {
	font-size: 30px;
}

#turn-done-button {
	position: absolute;
	width: 100px;
	height: 40px;
	right: 10px;
	bottom: 330px;
	padding: 5px;
	font-weight: bold;
	background: rgba(131, 203, 180, .8);
	color: black;
}

#round-div {
	position: absolute;
	opacity: 0.0;
	bottom: 172px;
	right: 10px;
	width: 100px;
	height: auto;
	background: rgba( 0, 0, 0, 0.8);
	
}

#round-td, .phase-td {
	height: 15px;
	color: white;
	padding: 2px;
}

.phase-td-current {
	color: black;
	background: rgba(255, 255, 100, 0.5);
}

#missions-phase-div, #resource-phase-div, #upkeep-phase-div, #agent-retire-div, #agent-action-div {
	position: absolute;
}

#missions-phase-div, #agent-retire-div, #agent-action-div {
	width: 300px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -50px;
	background: rgba(255, 255, 255, 1.0);
}

#resource-phase-div, #upkeep-phase-div {
	width: 100px;
	height: 25px;
	right: 115px;
	text-align: right;
	background: rgba(0, 0, 0, 0.0);
}

#resource-phase-div {
	bottom: 248px;
}

#upkeep-phase-div {
	bottom: 223px;
}

#missions-spy-menu {
	position: absolute;
	width: 200px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: 100px;
	background: rgba(255, 255, 255, 0.9);
}

.msg-action-div {

}

.msg-action-p0 {
	color: #FF4848;
}

.msg-action-p1 {
	color: #33C3FF;
}

.msg-action-p2 {
	color: #00FF00;
}

.msg-action-p3 {
	color: #FFF011;
}

#action-confirm-button-wrapper, #include-smuggler-button-wrapper {
	height: 70px;
	width: 120px;
    margin: 0 auto;
}

#players-wrapper-div {
	position: absolute;
	top: 0px;
	left: 50%;
	height: 43px;
}

.player-div {
	position: absolute;
	top: 0px;
	width: 250px;
	height: 35px;
	background-size: 250px 140px;
	color: black;
}

#player-div1{ background-position: 0 -35px; }
#player-div2{ background-position: 0 -70px; }
#player-div3{ background-position: 0 -105px; }

.player-id-div {
	position: relative;
	display: table-cell;
	top: 4px;
	left: 30px;
	height: 26px;
	width: 115px;
	padding: 0px;
	font-size: 13px;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	line-height: 90%;
	color: black;
}

.player-stats-div {
	position: absolute;
	top: 3px;
	right: 5px;
	width: 100px;
	height: 25px;
	padding: 0px;
}

.metal-icon, .water-icon, .fuel-icon, .food-icon, .points-icon {
	width: 25px;
	height: 25px;
	font-size: 17px; 
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.player-trade-request-div {
	position: absolute;
	visibility: hidden;
	width: 222px;
	height: 24px;
	top: 33px;
	left: 26px;
	padding-top: 1px;
	padding-left: 15px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.player-trade-request-div:hover {
	background-position: -222px 0;
	cursor: pointer;
}

.player-points-div {
	position: absolute;
	top: 2px;
	left: 3px;
	width: 29px;
	height: 25px;
	font-size: 19px;
	font-weight: bold;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.player-start-icon {
	position: absolute;
	top: 21px;
	left: 21px;
	width: 31px;
	height: 31px;
}

.res-icon-button:hover {
	background-position: -25px 0;
}

.metal-icon, .water-icon, .fuel-icon, .food-icon {
	color: white;
}

.points-icon {
	color: black;
	margin-left: 10px;
	font-weight: bold;
}

#game-messages-wrapper-div {
	position: absolute;
	width: 350px;
	height: 130px;
	bottom: 160px;
	left: 0px;
	pointer-events: auto;
}

#game-messages-div, #game-chat-input {
	position: relative;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	margin: 2px;
}

#game-messages-div {
	vertical-align: bottom;
	height: 90px;
	overflow-y: auto;
	overflow-x: hidden;
	pointer-events: auto;
}

#game-chat-input {
	text-align: center;
	height: 25px;
	color: rgba(255, 255, 255, .9);
	pointer-events: auto;
}

#action-confirm-button, #action-cancel-button, #smuggler-confirm-button, #smuggler-cancel-button {
	position: relative;
	float: left;
	height: 50px;
	width: 50px;
	top: 10px;
	margin: 3px;
	background: rgba(131, 203, 180, .8);
	font-size: 30px;
	font-weight: bold;
	color: black;
}

#bottom-bar-div {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 162px;
	opacity: 0.0;
	pointer-events: none;
}

#points-remaining {
	position: absolute;
	right: 0px;
	top: 50px;
	width: 84px;
	height: 142px;
}

#points-remaining-explore, #points-remaining-envoy, #points-remaining-destroy {
	position: absolute;
	width: 35px;
	height: 30px;
	right: 3px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#points-remaining-explore {
	top: 13px;
}

#points-remaining-envoy {
	top: 58px;
}

#points-remaining-destroy {
	top: 103px;
}

#resources-menu-div, #structures-menu-div, #agents-menu-div {
	position: absolute;
	pointer-events: auto;
	bottom: 0px;
}

#resources-menu-div {
	left: 0px;
	width: 390px;
	height: 156px;
}

#structures-menu-div {
	right: 244px;
	width: 390px;
	height: 143px;
}

#agents-menu-div {
	right: 0px;
	width: 244px;
	height: 162px;
}

.resource-div {
	position: absolute;
	float: left;
	left: 10px;
	height: 27px;
	width: 372px;
}

#resource-div0 {
	top: 35px;
}

#resource-div1 {
	top: 60px;
}

#resource-div2 {
	top: 85px;
}

#resource-div3 {
	top: 110px;
}

.fourtoone-menu {
	position: absolute;
	visibility: hidden;
	float: left;
	left: 380px;
	height: 25px;
	width: 75px;
}

.gain-div, .loss-div {
	position: absolute;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	top: 2px;
	height: 25px;
	width: 25px;
}

.gain-div {
	left: 6px;
	color: #008ebc;
}

.loss-div {
	left: 31px;
	color: #ff5656;
}

.resource-table {
	position: absolute;
	table-layout: fixed;
	top: 0px;
	left: 60px;
	height: 25px;
	width: 250px;
}

.fourtoone-button {
	position: absolute;
	top: 1px;
	right: 0px;
	width: 55px;
	height: 25px;
	color: black;
	font-weight: bold;
}

.fourtoone-button:hover {
	background-position: -55px 0;
}

.trade-request {
	position: absolute;
	width: 222px;
	height: 24px;
}

.trade-request:hover {
	background-position: -222px 0;
}

#trade-button {
	position: absolute;
	right: 7px;
	top: 5px;
	font-weight: bold;
	width: 55px;
	height: 27px;
	color: black;
}

#trade-button:hover {
	background-position: -55px 0;
}

#trade-menu-div {
	opacity: 0;
	position: fixed;
	top: 38%;
	left: 50%;
	width: 269px;
	height: 191px;
	margin-left: -134px;
}

#player-trade-div, #opponent-trade-div{
	position: absolute;
	top: 67px;
	width: 100px;
	height: 57px;
}

.trade-arrow-up, .trade-arrow-down {
	width: 25px;
	height: 16px;
	background-size: 75px 32px;
	cursor: pointer;
}

.trade-arrow-down {
	background-position: 0 -16px;
}

.trade-arrow-up:hover {
	background-position: -25px 0;
}

.trade-arrow-down:hover {
	background-position: -25px -16px;
}

.trade-arrow-up:active {
	background-position: -50px 0;
}

.trade-arrow-down:active {
	background-position: -50px -16px;
}

#player-trade-div {
	left: 21px;
}

#opponent-trade-div {
	right: 21px;
}

#trade-offers-div {
	position: absolute;
	top: 130px;
	left: 175px;
	width: 75px;
	height: 25px;
}

.trade-radio-button {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 100px 100px;
}

#trade-radio-button0.radio-on: { background-position: 0 0; }
#trade-radio-button0.radio-on:hover { background-position: -25px 0; }
#trade-radio-button0.radio-off { background-position: -50px 0; }
#trade-radio-button0.radio-off:hover { background-position: -75px 0; }

#trade-radio-button1.radio-on { background-position: 0 -25px; }
#trade-radio-button1.radio-on:hover { background-position: -25px -25px; }
#trade-radio-button1.radio-off { background-position: -50px -25px; }
#trade-radio-button1.radio-off:hover { background-position: -75px -25px; }

#trade-radio-button2.radio-on { background-position: 0 -50px; }
#trade-radio-button2.radio-on:hover { background-position: -25px -50px; }
#trade-radio-button2.radio-off { background-position: -50px -50px; }
#trade-radio-button2.radio-off:hover { background-position: -75px -50px; }

#trade-radio-button3.radio-on { background-position: 0 -75px; }
#trade-radio-button3.radio-on:hover { background-position: -25px -75px; }
#trade-radio-button3.radio-off { background-position: -50px -75px; }
#trade-radio-button3.radio-off:hover { background-position: -75px -75px; }

#trade-button-yes, #trade-button-no {
	position: absolute;
	top: 157px;
	width: 124px;
	height: 24px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-size: 496px 72px;
}

#trade-button-yes {
	left: 11px;
}

#trade-button-no {
	right: 11px;
	background-position: 0 -24px;;
}

#trade-button-yes:hover, #trade-button-no:hover {
	background-position: -124px 0;
}

#trade-button-no:hover {
	background-position: -124px -24px;
}

#trade-button-yes:active {
	background-position: -248px 0;
}

#trade-button-no:active {
	background-position: -248px -24px;
}

#struct-mines-div, #struct-fleets-div, #struct-factories-div, #struct-embassies-div, #struct-base-div {
	position: absolute;
}

#struct-mines-div {
	top: 36px;
	left: 27px;
	width: 136px;
	height: 34px;
}

#struct-fleets-div {
	top: 36px;
	left: 170px;
	width: 126px;
	height: 33px;
}

#struct-factories-div {
	top: 70px;
	left: 13px;
	width: 108px;
	height: 50px;
}

#struct-embassies-div {
	top: 72px;
	left: 120px;
	width: 185px;
	height: 50px;
}

#struct-base-div {
	top: 40px;
	left: 304px;
	width: 70px;
	height: 70px;
}

.struct-table {
	width: 100%;
	height: 100%;
}

.struct-mine-button, .struct-factory-button, .struct-embassy-button, .struct-base-button,
.struct-fleet-button {
	background-color: transparent;
}

.struct-mine-button {
	width: 34px;
	height: 34px;
}

.struct-mine-button:hover {
	background-position: -34px;
}

.struct-factory-button {
	width: 34px;
	height: 50px;
}

.struct-factory-button:hover {
	background-position: -34px 0;
}

.struct-embassy-button {
	width: 37px;
	height: 50px;
}

.struct-embassy-button:hover {
	background-position: -37px 0;
}

.struct-fleet-button {
	width: 42px;
	height: 33px;
}

.struct-fleet-button:hover {
	background-position: -42px 0;
}

.struct-base-button {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 70px;
	height: 70px;
}

.struct-base-button:hover {
	background-position: -70px 0;
}

#agents-table {
	position: absolute;
	top: 31px;
	left: 13px;
	width: 216px;
	height: 108px;
}

.agent-button {
	width: 54px;
	height: 54px;
	background-color: transparent;
}

.agent-button:hover {
	background-position: -54px 0;
}

#resourcepackages-div {
	position: absolute;
	bottom: 0px;
	left: 391px;
	height: 157px;
	width: 0px;
}

.respkg-div {
	position: absolute;
	width: 68px;
	height: 150px;
	cursor: pointer;
}

.respkg-div:hover {
	background-position: -68px 0;
}

.respkg-notification-div {
	position: absolute;
	left: 0px;
	top: -75px;
	width: 68px;
	height: 70px;
}

.respkg-message-div {
	position: absolute;
	bottom: 40px;
	left: 0px;
	width: 68px;
	height: 36px;
	color: #fff094;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}

.respkg-arrow-div {
	position: absolute;
	left: 16px;
	bottom: 0px;
	width: 33px;
	height: 40px;
}

.respkg-clickable-div {
	width: 68px;
	height: 150px;
}

.respkg-title-div {
	position: absolute;
	top: 8px;
	width: 68px;
	color: black;
	text-align: center;
	font-size: 11pt;
	font-weight: bold;
}

.respkg-resources-div {
	position: absolute;
	left: 7px;
	top: 38px;
	width: 52px;
	height: 105px;
	color: black;
}

.respkg-resources-table {
	width: 53px;
	height: 100px;
}

.respkg-num-td {
	color: white;
	font-size: 13pt;
	text-align: center;
	font-weight: bold;
}

.respkg-collect-td {
	color: #8ae0fa;
}

.respkg-upkeep-td {
	color: #ff9191;
}

.res-change {
	position: absolute;
	text-align: center;
	font-size: 13pt;
	font-weight: bold;
	width: 25px;
	height: 25px;
	left: 60px;
	top: 0px;
}

.res-change-up {
	color: #8ae0fa;
}

.res-change-down {
	color: #ff9191;
}

#game-chat-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(255, 255, 255, 0.5);
}
#game-chat-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(255, 255, 255, 0.5);
   opacity:  1;
}
#game-chat-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(255, 255, 255, 0.5);
   opacity:  1;
}
#game-chat-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(255, 255, 255, 0.5);
}